# -----------------------
# Python cache & compiled files
__pycache__/
*.py[cod]
*.so

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/
env/
venv/

# VS Code project files
.vscode/

# Folders
data/
documentation/
results/

# Python packaging
*.egg-info/
dist/
build/

# Formats
*.odt